html,
body {
padding: 0;
margin: 0;
background: #fff;
letter-spacing: 1px;
font-family: 'Roboto', sans-serif;
}
html {
scroll-behavior: smooth;
}
body a {
outline: none;
transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
-o-transition: 0.5s all;
-ms-transition: 0.5s all;
text-decoration: none;
}
body a:hover {
text-decoration: none;
}
body a:focus,
a:hover {
text-decoration: none;
}

/* search */
.search-w3layouts input[type="search"] {
    outline: none;
    padding: 12px 15px;
    color: #000;
    font-size: 13px;
    border: none;
    letter-spacing: 1px;
    background: #f7f7f7; /* f7f7f7 */
	border-top-left-radius: 25px;
	border-bottom-left-radius:25px;
}

.search-w3layouts button {
    background: #f7f7f7;
    color: #0b0c1b;
    border: none;
    font-size: 14px;
    padding: 10px 15px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
	border-top-right-radius: 25px;
	border-bottom-right-radius:25px;
}
/* //search */

/* início responsivo */
@media(max-width:1280px){
	.search-w3layouts input[type="search"] {
		padding: 10px 15px;
	}	
	.search-w3layouts button {
		padding: 8px 15px;
	}
}

@media(max-width:667px){
	.search-w3layouts input[type="search"] {
		padding: 8px 15px;
	}
}
/* fim responsivo */

/*-- bootstrap.min --*/
.d-flex{
	display:-webkit-box!important;
	display:-ms-flexbox!important;
	display:flex!important
}

.justify-content-center{
	-webkit-box-pack:center!important;
	-ms-flex-pack:center!important;
	justify-content:center!important
}
/*-- fim bootstrap.min --*/
