.resultado_geral {
	padding:0px 10px 0px 10px ;
	background:#fff;
}

.pesquisa_branco{
	margin-top:155px;
}

.nao_ocorrencia{
	margin-top:155px;
}

.ocorrencia{
	margin-top:155px;
}

.style_resultado { /* autocomplete JS */
	border-bottom:1px solid #ccc;
	padding-bottom:5px;
	padding-top:5px;
	padding-left:10px;
	padding-right:10px;
	display:block;
	font-size:20px;
	font-family:sans-serif; 
	color:#000;
}

.style_resultado_link { /* autocomplete JS */
	color:#000;
	text-decoration:none;
	font-size:20px;
}

/*-- responsivo --*/ 
@media(min-width:1024px){


}

@media(max-width:736px){

}

@media(max-width:667px){

}

@media(max-width:640px){

}

@media(max-width:600px){

}

@media(max-width:568px){

}

@media(max-width:480px){

}

@media(max-width:414px){
	.pesquisa_branco{
		margin-top:120px;
	}
	.nao_ocorrencia{
		margin-top:120px;
	}
	.ocorrencia{
		margin-top:120px;
	}
}

@media(max-width:384px){

}

@media(max-width:375px){

}

@media(max-width:360px){
	.pesquisa_branco{
		margin-top:120px;
	}
	.nao_ocorrencia{
		margin-top:120px;
	}
	.ocorrencia{
		margin-top:120px;
	}
}

@media(max-width:320px){
	.pesquisa_branco{
		margin-top:110px;
	}
	.nao_ocorrencia{
		margin-top:110px;
	}
	.ocorrencia{
		margin-top:110px;
	}
}
/*-- FIm responsivo --*/ 