.aaa {
	padding:0px 10px 0px 10px ;
	background:#fff;
	border-top:0px solid #ccc;
}

.pesquisa_branco{

}
.style_resultado { /* autocomplete JS */
	border-top:0px solid #ccc;
	border-bottom:1px solid #ccc;
	padding-bottom:5px;
	padding-top:5px;
	padding-left:10px;
	padding-right:10px;
	display:block;
	background:;
	font-size:20px;
	font-family:sans-serif; 
	color:#000;
}

.style_resultado_link { /* autocomplete JS */
	color:#000;
	text-decoration:none;
	font-size:20px;
}

.style_resultado_link:hover{
	color:#000;
}

height:468px;